<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oducsapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.oducsapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.oducsapp.Directory"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.oducsapp.DOMParserActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.oducsapp.DirectoryAdd"
            android:label="@string/title_activity_directory_add"
            android:parentActivityName="com.example.oducsapp.DOMParserActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.oducsapp.DOMParserActivity" />
        </activity>
        <activity
            android:name="com.example.oducsapp.DirectoryEdit"
            android:label="@string/title_activity_directory_add"
            android:parentActivityName="com.example.oducsapp.DOMParserActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.oducsapp.DOMParserActivity" />
        </activity>
        <activity
            android:name="com.example.oducsapp.DOMCourseActivity"
            android:label="@string/title_activity_domcourse" >
        </activity>
        <activity
            android:name="com.example.oducsapp.CourseAdd"
            android:label="@string/title_activity_course_add" >
        </activity>
        <activity
            android:name="com.example.oducsapp.CourseEdit"
            android:label="@string/title_activity_course_edit" >
        </activity>
        <activity
            android:name="com.example.oducsapp.DOMEventActivity"
            android:label="@string/title_activity_domevent" >
        </activity>
        <activity
            android:name="com.example.oducsapp.EventAdd"
            android:label="@string/title_activity_event_add" >
        </activity>
        <activity
            android:name="com.example.oducsapp.EventEdit"
            android:label="@string/title_activity_event_edit" >
        </activity>
        <activity
            android:name="com.example.oducsapp.Reminder"
            android:label="@string/title_activity_reminder" >
        </activity>

        <receiver
            android:name="com.example.oducsapp.AlarmReceiver"
            android:process=":remote" />

        <activity
            android:name="com.example.oducsapp.AlarmReceiver1"
            android:label="@string/title_activity_alarm_receiver1" >
        </activity>
        <activity
            android:name="com.example.oducsapp.Shaker1"
            android:label="@string/title_activity_shaker1" >
        </activity>
        <activity
            android:name="com.example.oducsapp.RemList"
            android:label="@string/title_activity_rem_list" >
        </activity>
    </application>

</manifest>
